{% extends "generic_site.html" %}

{% block contents %}
    {% block title %}
        <h1 align="center">Rezerwacje W trakcie rozpatrywania</h1>
    {% endblock title %}

    <table>
        {% for reservation in reservations_list %}
            <form action="{% url 'reservation_temp' reservation %}" method="POST" role="form">
                {% csrf_token %}
                <tr>
                    <td>
                        <hr style="height: 2px; background: black">
                        <ul style="list-style-type:none">
                            <li name="data_do"><strong>Poczatek rezerwacji:</strong> {{ reservation.data_od }}</li>
                            <li name="data_do"><strong>Koniec rezerwacji:</strong> {{ reservation.data_do }}</li>
                            <li><strong>Wydział:</strong> {{ reservation.id_pomieszczenia.id_wydzialu }}</li>
                            <li><strong>Sala:</strong> {{ reservation.id_pomieszczenia.opis }}</li>
                            <li name="id_uzytkownika"><strong>Rezerwacji
                                dodkonal:</strong> {{ reservation.id_uzytkownika }}</li>
                            <li name="data_wykonania_rezerwacji">
                                <strong>Dnia:</strong> {{ reservation.data_wykonania_rezerwacji }}</li>
                        </ul>
                    </td>

                    <td>
                        {% block buttons %}
                            <div style="float: left;margin-right: 1em">
                                <a href="{% url "reservation_details" reservation.id_rezerwacji_sali %}"
                                   class="btn btn-info">Szczegóły</a>
                            </div>
                            {% block resing_button %}
                                <a href="{% url "resign_from_reservation" reservation.id_rezerwacji_sali %}"
                                   class="btn btn-danger">Zrezygnuj</a>
                            {% endblock resing_button %}
                        {% endblock %}
                    </td>
                </tr>
            </form>
        {% endfor %}
    </table>
    <hr style="height: 2px; background: black">

{% endblock %}