{% extends "reservations/profile.html" %}

{% block res_links %}

    <h2 style="display: flex; justify-content: center; align-content: center; margin-left: -1em">Panel Administratora</h2>
    <div style="display: flex; justify-content: center; align-content: center; margin-bottom: 2em">
        <a class="btn btn-success" style="margin-right: 1em" href="/admin">Wejdź do panelu</a>
    </div>

    <h2 style="display: flex; justify-content: center; align-content: center; margin-left: -1em">Twoje rezerwacje sal</h2>
    <div style="display: flex; justify-content: center; align-content: center; margin-bottom: 2em">
        <a class="btn btn-success" style="margin-right: 1em" href="{% url "user_accepted_reservations" %}">Zaakceptowane
            Rezerwacje</a>
        <a class="btn btn-danger" style="margin-right: 1em" href="{% url "user_declined_reservations" %}">Odrzucone
            rezerwacje</a>
        <a class="btn btn-info " style="margin-right: 1em" href="{% url "user_pending_reservations" %}">Nierozpatrzone
            rezerwacje</a>
    </div>

    <h2 style="display: flex; justify-content: center; align-content: center; margin-left: -1em">Twoje rezerwacje pokoi</h2>
    <div style="display: flex; justify-content: center; align-content: center; margin-bottom: 2em">
        <a class="btn btn-success" style="margin-right: 1em" href="{% url "user_accepted_room_reservations" %}">Zaakceptowane
            Rezerwacje</a>
        <a class="btn btn-danger" style="margin-right: 1em" href="{% url "user_declined_room_reservations" %}">Odrzucone
            rezerwacje</a>
        <a class="btn btn-info " style="margin-right: 1em" href="{% url "user_pending_room_reservations" %}">Nierozpatrzone
            rezerwacje</a>
    </div>

    <hr class="my-4" style="height: 1.5px; background: gray">

    <h2 style="display: flex; justify-content: center; align-content: center; margin-left: -1em">Rezerwacje sal użytkowników</h2>
    <div style="display: flex; justify-content: center; align-content: center">
        <a class="btn btn-success" style="margin-right: 1em" href="{% url "accepted_reservations" %}">Zaakceptowane
            Rezerwacje</a>
        <a class="btn btn-danger" style="margin-right: 1em" href="{% url "declined_reservations" %}">Odrzucone
            rezerwacje</a>
        <a class="btn btn-info " style="margin-right: 1em" href="{% url "pending_reservations" %}">Nierozpatrzone
            rezerwacje</a>
    </div>

    <h2 style="display: flex; justify-content: center; align-content: center; margin-left: -1em">Rezerwacje pokoi użytkowników</h2>
    <div style="display: flex; justify-content: center; align-content: center">
        <a class="btn btn-success" style="margin-right: 1em" href="{% url "accepted_room_reservations" %}">Zaakceptowane
            Rezerwacje</a>
        <a class="btn btn-danger" style="margin-right: 1em" href="{% url "declined_room_reservations" %}">Odrzucone
            rezerwacje</a>
        <a class="btn btn-info " style="margin-right: 1em" href="{% url "pending_room_reservations" %}">Nierozpatrzone
            rezerwacje</a>
    </div>



{% endblock res_links %}