{% extends "reservations/profile.html" %}

{% block res_links %}

    <h2 style="display: flex; justify-content: center; align-content: center; margin-left: -1em">Twoje rezerwacje</h2>
    <div style="display: flex; justify-content: center; align-content: center">
        <a class="btn btn-success" style="margin-right: 1em" href="{% url "user_accepted_reservations" %}">Zaakceptowane
            Rezerwacje</a>
        <a class="btn btn-danger" style="margin-right: 1em" href="{% url "user_declined_reservations" %}">Odrzucone
            rezerwacje</a>
        <a class="btn btn-info " style="margin-right: 1em" href="{% url "user_pending_reservations" %}">Nierozpatrzone
            rezerwacje</a>
    </div>

    <h2 style="display: flex; justify-content: center; align-content: center; margin-left: -1em">Rezerwacje użytkowników</h2>
    <div style="display: flex; justify-content: center; align-content: center">
        <a class="btn btn-success" style="margin-right: 1em" href="{% url "user_accepted_reservations" %}">Zaakceptowane
            Rezerwacje</a>
        <a class="btn btn-danger" style="margin-right: 1em" href="{% url "user_declined_reservations" %}">Odrzucone
            rezerwacje</a>
        <a class="btn btn-info " style="margin-right: 1em" href="{% url "user_pending_reservations" %}">Nierozpatrzone
            rezerwacje</a>
    </div>

{% endblock res_links %}