{% extends "generic_site.html" %}

{% block contents %}

    <h2 class="display-4"> Jest to rezerwacja nr. {{ reservation.id_rezerwacji_sali }}</h2>
    <h3 class="lead text-info"> Zarezerwowano od {{ reservation.data_od }}</h3>
    <h3 class="lead text-info"> Zarezerwowano do {{ reservation.data_do }}</h3>
    <hr>
    <h3 class="lead"> Rezerwację wykonano {{ reservation.data_wykonania_rezerwacji }}</h3>
    <h3 class="lead"> Dla pomieszczenia {{ rodzaj_pomieszczenia}} {{ reservation.id_pomieszczenia.id_pomieszczenia }} na wydziale
        {{ reservation.id_pomieszczenia.id_wydzialu }}</h3>
    <hr>
    <h3 class="display-4">Szczegóły pomieszczenia</h3>
    <p class="leads"><strong>Liczba miejsc:</strong> {{ no_seats }}</p>
    <p class="leads"><strong>Projektor:</strong> {{ isProjector }}</p>
    <p class="leads"><strong>Opis:</strong></p>
    <p class="leads">{{ aux_descr }}</p>
{% endblock contents %}