{% extends "generic_site.html" %}

{% block contents %}
    <div align="center">
        <h1>Sala {{ selected_classroom.opis }}</h1>
        <h5>Ilość miejsc: {{ no_seats }}</h5>
        <h5>Posiada rzutnik:
            {% if czy_rzutnik %}
                TAK
            {% else %}
                NIE
            {% endif %}
        </h5>
            {% if ype_of_room == "S" or type_of_room == "A"  %}
                <h5>Tablica: {{ aux_descrp }}</h5>
            {% else %}
                <h5>Osprzet: {{ aux_descrp }}</h5>
            {% endif %}
    </div>

    <h4>Aktualne rezerwacje:</h4>
    {% if not lista_rezerwacji %}
        <strong>BRAK</strong>
    {% endif %}
<ol>
    {% for res in lista_rezerwacji %}
    <li>
        <strong>OD:</strong> {{ res.data_od }} <strong>DO:</strong> {{ res.data_do }}
    </li>
    {% endfor %}
</ol>
<hr style="height: 5px; background: gray;">

<form method="POST" role="form">
    {% csrf_token %}
    <div class="form-group">
      <label class="col-form-label col-form-label-sm" style="font-weight: bold; float: left;">
          Wybierz, kiedy chcesz zarezerwować sale
      </label>

      <div style="float: left; clear: both;">
        <strong>OD:</strong>
        <input class="form-control form-control-sm" type="datetime-local" style="width: 185px" name="data_od">
      </div>
      <div style="float: left; margin-left: 3px;">
        <strong>DO:</strong>
        <input class="form-control form-control-sm" type="datetime-local" style="width: 185px" name="data_do">
      </div>

        <div type="submit" id="add-btn" style="clear: both;">
            <br><button class="btn btn-primary">ZAREZERWUJ</button>
        </div>
    </div>
</form>

{% if messages %}
    <div class="alert alert-dismissible alert-success messages">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% for message in messages %}
            <strong> {{ message }}</strong>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}